@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.App {
  cursor: url(./components/cr.png), auto;
}

.navlinks {
  color: white;
}
.navb {
  background-color: #050117 !important;
}
.navbar-toggler-icon {
  color: white;
}
